.tabsView {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 15px;
  &__container {
    span {
      display: inline-block;
      margin-left: 10px;
      width: 30px;
      text-align: center;
      border-radius: 2px;
      svg {
        color: #009797;
        cursor: pointer;
      }
    }
    .isActiveTab {
      background-color: #009797;
      padding: 3px;
      svg {
        color: white;
      }
    }
  }
  &__title {
    font-weight: bold;
  }
}